/* Estilo da página */
body {
    background-image: url("imagens/LoopMusic.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #8b008b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; /* Ajuste no padding para melhor alinhamento */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: white;
    font-size: 30px;
    font-family: "Frijole", system-ui;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}

/* Estilo para a seção "Quem somos?" e notícias */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.text-box {
    width: 35%; /* Largura fixa para o texto à esquerda */
    background-color: #7e2d7e;
    padding: 15px;
    color: white;
    font-family: "Oswald";
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.noticias-slider {
    flex-grow: 1; /* Ocupar todo o espaço restante */
    background-color: rgba(126, 45, 126, 0.8);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    font-family: "Oswald", sans-serif;
}

/* Slider de notícias */
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
}

.slide img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.slide-content {
    flex: 1;
}

.slide-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.slide-content p {
    font-size: 14px;
}

/* Botões do slider */
button.prev, button.next {
    background-color: #8b008b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

button.prev {
    left: -50px;
}

button.next {
    right: -50px;
}

button:hover {
    background-color: #720072;
}
